
/* Main Stylings  */

body {
    margin: 0;
    width: 100vw;
    background-color: darkgrey;
}

.buttonsection {
    position: relative;
    height: 200px;
    width: 80vw;
    border: 1px solid #ccc;
    margin: 5% 10%;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

button[name=button] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}


/* Botton Number 1 */

.button1 {
    background-color: blueviolet;
    color: rgb(252, 154, 252);
    text-shadow: 2px 2px rgb(139, 59, 139);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    border: 5px solid rgb(139, 59, 139);
    border-top-color: rgb(252, 154, 252);
    border-left-color: rgb(252, 154, 252);
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.4);
    transition: all 50ms linear;
    cursor: pointer;
}

    .button1:hover {
        color: rgb(139, 59, 139);
        text-shadow: 1px 1px rgb(252, 154, 252);
        border: 5px solid rgb(252, 154, 252);
        border-top-color: rgb(139, 59, 139);
        border-left-color: rgb(139, 59, 139);
        box-shadow: none;
    }

    .button1:focus {
        background-color: rgb(182, 129, 30);
        color: rgb(61, 128, 41);
        text-shadow: 1px 1px rgb(100, 218, 71);
        border: 5px solid rgb(100, 218, 71);
        border-top-color: rgb(49, 112, 12);
        border-left-color: rgb(49, 112, 12);
        box-shadow: none;
    }


/* Button Number 2 */



.button2 {
    height: 100px;
    width: 300px;
    border-radius: 5px;
    border: 10px solid rgb(119, 112, 78);
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0) 80%, rgb(44, 124, 19));
    font-size: 2em;
    font-weight: bolder;
    font-family: monospace;
    color: rgb(24, 102, 0);
    box-sizing: border-box;
    cursor: pointer;
    z-index: 2;
}

    .button2:hover {
        animation: backgroundmove 1.5s linear infinite, nbeep 1.5s linear infinite;
    }

    .button2:focus {
        background: rgb(24, 102, 0);
    }

@keyframes backgroundmove {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 280px 0px;
    }
}

@keyframes nbeep {
    0% {
        color: rgb(24, 102, 0);
    }
    15% {
        color: rgb(24, 102, 0);
    }
    20% {
        color: rgb(107, 255, 61);
    }
    100% {
        color: rgb(24, 102, 0);
    }
}


/* Button Number 3 */

p {
    font-size: 2em;
}

#plane {
    position: absolute;
    right: 30px;
    top: 50px;
    color: red;
}

#bird {
    position: absolute;
    left: 30px;
    top: 50px;
    color: red;
}

.button3 {
    background-image: url(/superman.png);
    background-position: center;
    background-size: 150px;
    background-color: rgb(9, 145, 190);
    height: 150px;
    width: 150px;
    position: relative;
    margin: 0;
    cursor: pointer;
}

    .button3::before {
        position: absolute;
        top: -2px;
        left: -2px;
        content: "";
        height: 150px;
        width: 75px;
        background: linear-gradient(to right, white, 95%, black);
        z-index: 1;
        transition: all .4s ease-out;
    }

    .button3::after {
        position: absolute;
        top: -2px;
        right: -2px;
        content: "";
        height: 150px;
        width: 75px;
        background: linear-gradient(to left, white, 95%, black);
        z-index: 1;
        transition: all .4s ease-out;
    }

    .button3:focus::after {
        position: absolute;
        transform: translateX(75%);
    }

    .button3:focus::before {
        position: absolute;
        transform: translateX(-75%);
    }


/* Button Number 4 */

.button4 {
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 160px;
    background-color: orange;
    font-size: xx-large;
    padding-top: 5px;
    color: rgba(0,0,0,0.2);
    box-shadow: -10px 10px 10px 0 rgba(0,0,0,0.6), inset 6px -5px 12px 3px rgba(0,0,0,0.3);
    border: none;
}

    .button4::after {
        position: absolute;
        top: 40px;
        left: 40px;
        content: "";
        height: 80px;
        width: 80px;
        border-radius: 160px;
        background: orange;
        background: radial-gradient(circle, rgb(114, 85, 19) 20%, orange 60%);
        z-index: 2;
        opacity: 0;
    }

    .button4:hover::after {
        opacity: .5;
        cursor: pointer;
    }

    .button4:focus::after {
        opacity: 1;
        transform: scale(1.5);
    }